<h3>Désole! Votre Demande de location a eté refusé !</h3>

Salut {{ name }}! Votre demande de location a eté refusé.

Pour toute informations contacter : <a href="#">karhabty.info@gmail.com</a>.

Merci!

