{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'method': 'post', 'action': path('manager_location_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}


    <h1>Votre Agence : </h1>

    <input type="text" name="nom_agence" placeholder="nom agence"/>
    <input type="number" name="tel_agence" placeholder="telephone agence"/>
    <input type="text" name="horaire_agence" placeholder="horaire agence"/>
    <input type="file" name="photo_agence" placeholder="photo">
    <input type="file" name="piece_agence" placeholder="piece">
    <input type="text" name="rue_agence" placeholder="rue agence"/>
    <input type="text" name="ville_agence" placeholder="ville agence"/>
    <input type="number" name="code_postal_agence" placeholder="code postale agence"/>


    <div>
        manager location
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}

{% endblock fos_user_content %}
