{% extends 'ClientBundle::master.html.twig' %}
{% block content %}
    <div class="container">



        <div class="col-md-6 col-md-offset-4 ">
            <form method="post" action="{{ url('manager_location_ajouter_chauffeur') }}" enctype="multipart/form-data">
                <h1>Ajouter Chauffeur : </h1>

                <input type="text" name="nom" placeholder="nom chauffeur">
                <br>
                <input type="number" name="age" placeholder="age chauffeur">
                <br>
                <input type="text" name="prix" placeholder="prix chauffeur">
                <br>
                <select name="agence">
                    {% for ag in agences %}
                        <option value="{{ ag.idAgence }}">{{ ag.nomAgence }}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="Ajouter Voiture">
            </form>
        </div>

    </div>

{% endblock %}

{% block scripts %}


    {% if app.session.flashBag.has('success') %}
        {% for msg in app.session.flashBag.get('success') %}
            <script>
                alert('{{ msg }}');
            </script>
        {% endfor %}
    {% endif %}

{% endblock %}


